{% extends 'basic.html' %}

{% block title %}
Чаты
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card">
      <ul class="list-group list-group-flush">
        {% for i in userchats %}
            <li class="list-group-item">
                <a href="/chatroom/{{i.id}}">
                    <b>{{ i.chatname }}</b>
                </a>
                <p class="text-black-50">создан {{ i.dateofcreation }}</p>
            </li>
        {% endfor %}
      </ul>
    </div>
</div>
{% endblock %}