{% extends 'basic.html' %}

{% block title %}
Чаты
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card">
      <ul class="list-group list-group-flush">
        {% for i in userchats %}
            <li class="list-group-item">
                <a href="/chatroom/{{i.id}}">
                    <b>{{ i.chatname }}</b>
                </a>
                <button type="button" class="btn btn-danger float-lg-right" data-toggle="modal" data-target="#exampleModal3{{i.id}}">
                  Удалить
                </button>
                <p class="text-black-50">создан {{ i.dateofcreation }}</p>
            </li>

          <!-- Button trigger modal 1 -->
        <div class="modal fade" id="exampleModal3{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Удаление "{{i.chatname}}" </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить {{ i.chatname }}? Обратите
                  внимание, что для вашего собеседника, как и для вас, чат будет удален
                  <b>без возможности восстановления. </b>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <a href="userchatdelete/{{ i.id }}" class="btn btn-danger">Удалить</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Button trigger modal 1 -->


        {% endfor %}
      </ul>
    </div>
</div>
{% endblock %}