{% extends 'basic.html' %}

{% block title %}
Войти
{% endblock %}

{% block body %}

<div class="container mt-3">
    <h1>Войти</h1>
    <form method="post">
        <input type="text" name = 'login' class="form-control" placeholder="Логин"><br>
        <input type="password" name = 'password' class="form-control" placeholder="Пароль"><br>
        <input type="submit" class="btn btn-success" value="Войти" style="float: right;">
        <a href="/register" class="btn btn-link" style="float: left;">У меня еще нет аккаунта, зарегестрироваться</a>
    </form>
</div>
{% endblock %}