{% extends 'basic.html' %}

{% block title %}
Чаты
{% endblock %}

{% block body %}
<script src="../static/js/nosend.js"></script>
<link rel="stylesheet" href="../static/css/style.css">

<script type="text/javascript">
var chatid = {{chatid}};
var xmlhttp = getXmlHttp();
	xmlhttp.open('POST', '/getallmessages', true);
	xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	xmlhttp.send(encodeURIComponent('allMesages') + "&chatid=" + encodeURIComponent(chatid));
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState == 4) {
			if (xmlhttp.status == 200) {
                var box = document.getElementById('messageBox');
				box.innerHTML = xmlhttp.responseText;
			}
		}
	};
	checkUpdate(chatid);
</script>

<input type="hidden" value="" id="lastMessageID">


<!-- Вот так можно обратиться к имени собеседника -->

<div class="container" style="box-shadow; margin-bottom: -30px; box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.50);">
  <div class="row">
      {% if is_default_photo %}
      <a href="/id{{interlocutor_id}}"><img src="../static/user_photos/default.jpg" class="microimage"></a>
      {% else %}
      <a href="/id{{interlocutor_id}}"><img src="../static/user_photos/{{interlocutor_id}}_userpic.jpg" class="microimage"></a>
      {% endif %}
      <a href="/id{{interlocutor_id}}" style="margin: 23px 0;">{{interlocutor[0]}} {{interlocutor[1]}}</a>
      <p class="text-secondary" style="position: absolute; right:100px; margin-top: 23px;">{{chatname}}</p>
  </div>
</div>


<!-- При загрузке страницы содержимое messageBox будет очищено, ничего не добавлять -->
<div class="container mt-5" id="messageBox" style="overflow: auto; height: 100%; margin-bottom: 50px;">

    <!-- Анимация загрузки -->
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <!-- Анимация загрузки -->

</div>




<div class="fixed-bottom input-group w-100" style="margin-top: 100px;" name="sender">
    <input type="text" class="form-control" id="inputContent" name="message" placeholder="Введите сообщение" aria-describedby="basic-addon1">
    <input type="hidden" id="inputChatID" value="{{chatid}}">
    <div class="input-group-append">
        <button class="btn btn-success" onclick="sendMessage()">Отправить</button>
    </div>
</div>
{% endblock %}